# Data structures in python

## Topic : List  
#### Exercise :

* Q1. Create a list of 5 random numbers and print the list.

In [56]:
list = [6,1,8,3,0]
print(list)

[6, 1, 8, 3, 0]

* Q2. Insert 3 new values to the list and print the updated list.

In [58]:
list.extend([10,9,4])
print(list)

[6, 1, 8, 3, 0, 10, 9, 4]

* Q3. Try to use a for loop to print each element in the list.

In [60]:
for i in list:
    print(i)

6
1
8
3
0
10
9
4

## Topic : Dictionary  
#### Exercise :

* Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [66]:
Student = {"Name":"John","Age":25,"Address":"New York"}
print(Student)

{'Name': 'John', 'Age': 25, 'Address': 'New York'}

* Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [68]:
Student["Phone"] = "1234567890"
print(Student)

{'Name': 'John', 'Age': 25, 'Address': 'New York', 'Phone': '1234567890'}

## Topic : Set
#### Exercise :

* Q1.Create a set with values 1, 2, 3, 4, and 5.

In [74]:
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

* Q2. Add the value 6 to the set created in Q1.

In [78]:
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

* Q3. Remove the value 3 from the set created in Q1.

In [84]:
set-{3}
print(set)

{1, 2, 4, 5, 6}

## Topic : Tuple
#### Exercise :

* Q1. Create a tuple with values 1, 2, 3, and 4

In [70]:
tuple = (1,2,3,4)
print(tuple)

(1, 2, 3, 4)

* Q2. Print the length of the tuple created in Q1.

In [72]:
print(len(tuple))

4