## Exercise 1  
Write Python code that prints your name, student number and email address.   
An example runs of the program:   
Bob  
ST1001  
bob@gmail.com

In [17]:
print('Jumailath M')
print('ST35')
print('jumishafeeq14@gmail.com')

Jumailath M
ST35
jumishafeeq14@gmail.com

## Exercise 2 
Write Python code that prints your name, student number and email address using escape sequences.      
An example runs of the program:  
Bob  
ST1001  
bob@gmail.com

In [55]:
print('Jumailath M \nST35 \njumishafeeq14@gmail.com')

Jumailath M
ST35
jumishafeeq14@gmail.com

## Exercise 3
Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.  An example run of the program:   
14 + 7 = 21  
14 * 7 = 98  
14 – 7 = 7  
14 / 7 = 2

In [51]:
x = 14
y = 7

print(f'{x} + {y} = {x+y}')
print(f'{x} * {y} = {x*y}')
print(f'{x} - {y} = {x-y}')
print(f'{x} / {y} = {x/y}')

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

## Exercise 4
Write Python code that displays the numbers from 1 to 5 as steps.   
An example runs of the program:   
1   
2  
3  
4  
5

In [33]:
for i in range(1,6):
    print(i)

1
2
3
4
5

## Exercise 5 
Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:  
An example runs of the program:    
"SDK" stands for "Software Development Kit", whereas   
"IDE" stands for "Integrated Development Environment".

In [37]:
print('"SDK" stands for "Software Development Kit", whereas \n"IDE" stands for "Integrated Development Environment".')

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

## Exercise 6
#### Practice and check the output  
print("python is an \"awesome\" language.")  
print("python\n\t2023")   
print('I\'m from Entri.\b')  
print("\65")  
print("\x65")  
print("Entri", "2023", sep="\n")  
print("Entri", "2023", sep="\b")  
print("Entri", "2023", sep="*", end="\b\b\b\b")

In [49]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [41]:
print("python\n\t2023")

python
	2023

In [43]:
print('I\'m from Entri.\b')

I'm from Entri

In [69]:
print("\65")

5

In [79]:
print("\x65")

e

In [81]:
print("Entri", "2023", sep="\n")

Entri
2023

In [95]:
print("Entri", "2023", sep="\b")

Entr2023

In [115]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*20

## Exercise 7 
Define the variables below. Print the types of each variable. What is the sum of your variables?  
(Hint: use a type conversion function.) What datatype is the sum?  
num=23  
textnum="57"  
decimal=98.3

In [53]:
num = 23
textnum = "57"
decimal = 98.3

print(type(num))
print(type(textnum))
print(type(decimal))

<class 'int'>
<class 'str'>
<class 'float'>

In [55]:
sum = num + int(textnum) + decimal
print('sum of the variables is', sum)
print('The data type of the sum :',type(sum))

sum of the variables is 178.3
The data type of the sum : <class 'float'>

## Exercise 8
calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values.  
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [143]:
# calculate the total number of minutes in a year

# define variables
days = 365  # Number of days in a year
minutes = 60  # Number of minutes in an hour
hours = 24  # Number of hours in a day

# calculate total minutes in year
TotalMinutes = days * minutes * hours

# print the result
print("The total number of minutes in year :", TotalMinutes)

The total number of minutes in year : 525600

## Exercise 9
Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.  
An example runs of the program:  
Please enter you name: Tony  
Hi Tony, welcome to Python programming :)

In [161]:
name = input("Please enter your name:")
print(f"Hi {name}, welcome to Python programming.")

Please enter your name: Tony

Hi Tony, welcome to Python programming.

## Exercise 10
Name your file: PoundsToDollars.py  
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($).

An example runs of the program:  
Please enter amount in pounds: XXX  
£ XXX are $ XXX

In [185]:
# PoundToDollars.py
pounds = float(input("Please enter amount in pounds:"))
dollars = 1.35 * pounds
print(f"£{pounds} is equel to ${dollars:}")

Please enter amount in pounds: 23

£23.0 is equel to $31.05